<% provide(:title, 'Reset password for user ' + @user.name) %>

<h1>Reset password</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<%= form_tag(reset_password_confirmation_user_path) do %>

		<%= render 'shared/error_messages', object: @user %>

		<%= label_tag :password %>
		<%= password_field_tag :password%>

		<%= label_tag :password_confirmation %>
		<%= password_field_tag :password_confirmation%>

		<%= submit_tag "Reset password", class: "btn btn-large btn-primary" %>

	<% end %>
	</div>
</div>